extends ../layouts/master

block web-content
  .row
    .col-md-8
      .card.card-primary
        .card-header
          h3.card-title Tambah Buku
        form(method="post", action="/books/create")
          .card-body
            if errors && errors.length
              .alert.alert-danger
                ul.mb-0.pl-3
                  each pesan in errors
                    li= pesan
            .form-group
              label(for="title") Judul
              input.form-control#title(type="text", name="title", value=old.title || "", required)
            .form-group
              label(for="author") Penulis
              input.form-control#author(type="text", name="author", value=old.author || "", required)
            .row
              .col-md-6
                .form-group
                  label(for="year") Tahun
                  input.form-control#year(type="number", name="year", value=old.year || "")
              .col-md-6
                .form-group
                  label(for="stock") Stok
                  input.form-control#stock(type="number", name="stock", value=(old.stock !== undefined ? old.stock : 0), required)
            .form-group
              label(for="category_id") Kategori
              select.form-control#category_id(name="category_id")
                option(value="") -- Pilih Kategori --
                each cat in categories
                  option(value=cat.id, selected=(String(old.category_id) === String(cat.id)))= cat.name
          .card-footer
            button.btn.btn-success(type="submit")
              i.fas.fa-save.mr-1
              | Simpan
            a.btn.btn-default.ml-1(href="/books") Batal