extends ../layouts/master

block web-content
  .card
    .card-header
      h3.card-title Daftar Buku
      .card-tools
        a.btn.btn-primary.btn-sm(href="/books/create")
          i.fas.fa-plus.mr-1
          | Tambah Buku
    .card-body.p-0
      if books.length === 0
        .p-3
          .alert.alert-info.mb-0 Belum ada data buku. Silakan tambah buku baru.
      else
        table.table.table-striped.table-hover.mb-0
          thead
            tr
              th(style="width:40px") No
              th Judul
              th Penulis
              th Tahun
              th Kategori
              th Stok
              th(style="width:150px") Aksi
          tbody
            each book, i in books
              tr
                td= i + 1
                td= book.title
                td= book.author
                td= book.year || '-'
                td= book.category ? book.category.name : '-'
                td= book.stock
                td
                  if currentUser && currentUser.role === 'admin'
                    a.btn.btn-sm.btn-warning(href=`/books/${book.id}/edit`)
                      i.fas.fa-edit
                  form.d-inline(method="post", action=`/books/${book.id}/delete`, onsubmit="return confirm('Yakin hapus buku ini?')")
                    button.btn.btn-sm.btn-danger.ml-1(type="submit")
                      i.fas.fa-trash